rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read, write, update, and delete documents within their own user space
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
